@import './media.scss';

.menuDesktopWrapper{
  display: none;

  @media ($desktop) {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    position: fixed;
    top: 81px;
    left: 0;
    z-index: 50;
  }
}

.menuItemsWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 109px;
  padding: 0;
}

.menuItemDesktop{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuItemLink{
  text-decoration: none;
  color: black;
  font-weight: 300;
  font-size: 16px;
  font-family: 'Roboto';
  margin: 0 32px 0 0;
}


.menuItemTryFree{
  margin: 0;
  width: 109px;
  height: 44px;
  background-color: #78DCA6;
  color: white;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: #517B64 solid 3px;
  text-align: center;
}